$grey-20: rgba(0, 0, 0, 0.2);
$grey-30: rgba(0, 0, 0, 0.3);
$grey-40: rgb(139, 135, 135);
$grey: rgb(66, 66, 66);
$light-beige: rgb(250, 246, 239);
$beige: rgb(248, 237, 217);
$dark-beige: rgb(241, 223, 190);
$red: #ff3333;
$white: #ffffff;

:export {
	red: $red;
}
