$light-grey: rgba(0, 0, 0, 0.2);
$grey: rgba(0, 0, 0, 0.4);
$white: #ffffff;
.table {
	// background-color: aqua;
	// border: solid 2px rebeccapurple;
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	// padding: 5px;
	box-shadow: 0 4px 8px 0 $light-grey;
	transition: 0.3s;
}
.table__row,
.table__row-header {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}
.table__row-header {
	background-color: $grey;
	color: $white;
}
.table__row {
	background-color: $white;
}
.table__cell-header,
.table__cell {
	padding: 5px;
	// border: solid 1px rebeccapurple;
}
.table__cell:hover {
	background-color: $light-grey;
	cursor: pointer;
	color: $white;
}
