
.table
	.table__row-header
		.table__cell-header
			|Фамилия
		.table__cell-header
			|Имя
		.table__cell-header
			|Отчество
		.table__cell-header
			|Год рождения
		.table__cell-header
			|Телефон
	//- .table__row-border
	.table__row
		.table__cell-title
			|Фамилия
		.table__cell(search)
			| Иванов

		.table__cell-title
			|Имя	
		.table__cell
			| Иван

		.table__cell-title
			|Отчество
		.table__cell
			| Иванович

		.table__cell-title
			|Год рождения
		.table__cell
			| 12.09.1986

		.table__cell-title
			|Телефон
		.table__cell
			| 89999999999
	.table__row
		.table__cell-title
			|Фамилия
		.table__cell(search)
			| Игорев

		.table__cell-title
			|Имя
		.table__cell
			| Игорь

		.table__cell-title
			|Отчество
		.table__cell
			| Игоревич

		.table__cell-title
			|Год рождения	
		.table__cell
			| 01.05.2000

		.table__cell-title
			|Телефон	
		.table__cell
			| 89999111199
	.table__row
		.table__cell-title
			|Фамилия
		.table__cell(search)
			| Иванов

		.table__cell-title
			|Имя
		.table__cell
			| Игорь

		.table__cell-title
			|Отчество
		.table__cell
			| Семенович

		.table__cell-title
			|Год рождения	
		.table__cell
			| 12.09.1986

		.table__cell-title
			|Телефон	
		.table__cell
			| 89999999999
	.table__row
		.table__cell-title
			|Фамилия
		.table__cell(search)
			| Юлий
		
		.table__cell-title
			|Имя
		.table__cell
			| Гай

		.table__cell-title
			|Отчество	
		.table__cell
			| Цезарь

		.table__cell-title
			|Год рождения	
		.table__cell
			| 15.03.-100

		.table__cell-title
			|Телефон	
		.table__cell
			| XII DCC DLV XXXV XXXV

	

	